<div class="container bg-youtube">
  <div class="row p-4">
    <div class="col-12 text-light"> <h3>Youtube - Informações do perfil</h3></div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 p-3">
      <app-card-count [description]="'Total de Inscritos'"
                      [qtd]="this.data.totalSubscribers"
                      [classIcon]="'bi bi-youtube btn- btn-danger'"
                      [typeSocial]="'youtube'"></app-card-count>
    </div>
    <div class="col-md-4 col-sm-12 p-3">
      <app-card-count  [description]="'Total de views'"
                       [qtd]="this.data.totalViews"
                       [classIcon]="'bi bi-youtube'"
                       [typeSocial]="'youtube'"></app-card-count>
    </div>
    <div class="col-md-4 col-sm-12 p-3">
      <app-card-count  [description]="'Tempo de visualização nos últimos 30D'"
                       [qtd]="this.data.watchTime30days"
                       [classIcon]="'bi bi-youtube btn btn-outline-danger'"
                       [typeSocial]="'youtube'"></app-card-count>
    </div>
    <div class="col-md-4 col-sm-12 p-3">
      <app-card-count [description]="'Novos inscritos - Últimos 30D'"
                      [qtd]="this.data.totalSubscribers"
                      [classIcon]="'bi bi-youtube btn- btn-danger'"
                      [typeSocial]="'youtube'"></app-card-count>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4 col-sm-12 p-3">
    <app-grafico-pie [description]="'Distribuição por gênero'" [labels]="dataLabelGenero" [data]="dataValueGenero"></app-grafico-pie>
    </div>
    <div class="col-md-4 col-sm-12 p-3">

      <app-grafico-donut [description]="'Distribuição por idade'" [labels]="dataLabel" [data]="dataValue"  ></app-grafico-donut>
    </div>
  </div>
  <div class="row p-4">
    <div class="col-4 text-light"> <h3>Últimos vídeos do Youtube</h3></div>
  </div>
</div>
