<div class="container bg-youtube">
  <div class="row p-4">
    <div class="col-12 text-light"> <h3>Youtube - Informações do perfil</h3></div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 p-3">
      <app-card-count [description]="'Total de Seguidores'" [qtd]="1500" [classIcon]="'bi bi-youtube btn- btn-danger'" [typeSocial]="'youtube'"></app-card-count>
    </div>
    <div class="col-md-4 col-sm-12 p-3">
      <app-card-count  [description]="'Total de Likes'" [qtd]="45000" [classIcon]="'bi bi-youtube'" [typeSocial]="'youtube'"></app-card-count>
    </div>
    <div class="col-md-4 col-sm-12 p-3">
      <app-card-count  [description]="'Total de Vídeos'" [qtd]="248" [classIcon]="'bi bi-youtube btn btn-outline-danger'" [typeSocial]="'youtube'"></app-card-count>
    </div>
  </div>
  <div class="row p-4">
    <div class="col-4 text-light"> <h3>Últimos vídeos do Youtube</h3></div>
  </div>
</div>
