<div class="container card-instagram mt-5">
  <div class="row p-4">
    <div class="col-12 text-light"> <h3>Instagram - Informações do perfil</h3></div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 p-3">
      <app-card-count [description]="'Total de Seguidores'" [qtd]="1500" [classIcon]="'bi bi-instagram'" [typeSocial]="'tiktok'"></app-card-count>
    </div>
    <div class="col-md-4 col-sm-12 p-3">
      <app-card-count  [description]="'Total de Likes'" [qtd]="45000" [classIcon]="'bi bi-instagram'" [typeSocial]="'tiktok'"></app-card-count>
    </div>
    <div class="col-md-4 col-sm-12 p-3">
      <app-card-count  [description]="'Total de Vídeos'" [qtd]="248" [classIcon]="'bi bi-instagram'" [typeSocial]="'tiktok'"></app-card-count>
    </div>
  </div>
  <div class="row p-4">
    <div class="col-4 text-light"> <h3>Últimos vídeos do Instagram</h3></div>
  </div>
</div>
